STORE_CORS=http://localhost:8000,https://docs.medusajs.com
ADMIN_CORS=http://localhost:5173,http://localhost:9000,https://docs.medusajs.com
AUTH_CORS=http://localhost:5173,http://localhost:9000,https://docs.medusajs.com
REDIS_URL=redis://localhost:6379
JWT_SECRET=supersecret
COOKIE_SECRET=supersecret
DATABASE_URL=
DB_NAME=medusa-backend

R2_BUCKET_NAME=
R2_ACCESS_KEY_ID=
R2_SECRET_ACCESS_KEY=
R2_ACCOUNT_ID=
R2_PUBLIC_URL=

HOSTINGER_SMTP_HOST=
HOSTINGER_SMTP_PORT=465
HOSTINGER_SMTP_USER=
HOSTINGER_SMTP_PASS=
HOSTINGER_SMTP_FROM=

KONNECT_BASE_URL=
KONNECT_API_KEY=
KONNECT_WALLET_ID=

BACKEND_URL=http://localhost:9000
STOREFRONT_URL=http://localhost:8000

FB_PAGE_ACCESS_TOKEN=
